<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src="./javascripts/vendor/lrz.bundle.js"></script>
    <script src="./javascripts/index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id="upload" accept="image/*" type="file" capture/>
  </body>
</html>
