// LESS Document
@charset "utf-8";
body{
	background-color: #ffffff;
}
#content{
	width:1000px;
	background-color: #f0f0f0;
	overflow: hidden;
	margin:22px auto 0px;
}
.bar{
	overflow: hidden;
	padding-bottom: 8px;
	li{
		float: left;
		padding-right: 4px;
	}
}
.border(@color: #cccccc){
	border:1px solid @color;
}
.arg{
	background-color: #ffffff;
	height: 592px;
	.border;
	.left{
		border-right:1px solid #cccccc;
		float: left;
		width:312px;
		height: 592px;
		img{
			padding:18px 56px;
		}
		ul{
			padding-left: 23px;
		}
		li,li img{
			padding:0;
			float: left;
		}
	}
	.right{
		float: right;
		width:685px;
		h2{
			font-size: 16px;
			font-weight: bolder;
			line-height: 1.5;
			padding: 26px 0px 10px 24px;
		}
		.price{
			color:#d70000;
			font-size: 22px;
		}
		.change{
			background: url("../img/detailed/label.png") center center;
		}
		.title(@wid:20px){
			padding-left:@wid;
			display: inline-block;
			width: 60px;
		}
			
		.choice{
			background-color: #f2f2f2;
			color:#666666;
			margin: 0 12px 0 12px;
			padding:20px 0 20px 12px;
			li{
				padding-bottom: 14px;
			}
			select{
				.border;
			}
			.color span{
				text-align: center;
				padding:8px 25px;
				.border(#317ee7);
				color:#000000;
				margin-right: 12px;
			}
			.specification span{
				.border(#317ee7);
				margin-right: 12px;
			}
			@btn-color:#fe8900;
			.count{
				color:@btn-color;
			}
		}
	}
}
