// LESS Document
@charset "utf-8";
body{
	background-color: #ffffff;
}
#content{
	width:1000px;
	background-color: #f0f0f0;
	overflow: hidden;
	margin:22px auto 0px;
}
.bar{
	overflow: hidden;
	padding-bottom: 8px;
	li{
		float: left;
		padding-right: 4px;
	}
}
@bor-color:#cccccc;
.border(@color: @bor-color){
	border:1px solid @color;
	background-color: #ffffff;
}
.arg{
	background-color: #ffffff;
	height: 592px;
	color:#666666;
	.border;
	.left{
		border-right:1px solid #cccccc;
		float: left;
		width:312px;
		height: 592px;
		img{
			padding:18px 56px;
		}
		ul{
			padding-left: 23px;
		}
		li,li img{
			padding:0;
			float: left;
		}
	}
	.right{
		float: right;
		width:685px;
		h2{
			color:#000000;
			font-size: 16px;
			font-weight: bolder;
			line-height: 1.5;
			padding: 26px 0px 10px 24px;
		}
		.price{
			color:#d70000;
			font-size: 22px;
		}
		.change{
			background: url("../img/detailed/label.png") center center;
			color:#ffffff;
			display: inline-block;
			vertical-align: top;
			width:54px;
			height:18px;
			text-indent: 14px;
			margin-right: 6px;
		}
		.title(@wid:20px){
			padding-left:@wid;
			display: inline-block;
			width: 60px;
		}
		.tit{
			.title;
		}
		.choice{
			background-color: #f2f2f2;
			margin: 12px 12px 0 12px;
			padding:20px 0 20px 12px;
			li{
				padding-bottom: 24px;
			}
			.tit{
				.title(0px);
			}
			select{
				.border;
			}

			.color span{
				text-align: center;
				padding:8px 25px;
				.border;
				color:#000000;
				margin-right: 12px;
			}
			.specification span{
				padding:6px 4px;
				.border;
				margin-right: 12px;
			}
			.color .select,.specification .select{
				.border(#0479ca);
			}
			@btn-color:#fe8900;
			.count{
				color:@btn-color;
			}
		}
	}
}
