#content{
	width:1000px;
	height: auto;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}
/*导航栏选中下拉菜单*/
#goods{
	width:190px;
}
#goods .active{
	background: #ffffff;
}
#goods .active a{
	color:#000000;
}
#goods .active .str{
	color:#ffffff;
}
/*左侧导航栏*/
.menu{
	/*display: none;		通过js来实现鼠标悬停切换显示*/
	background: #4593fd url("../img/arrow2.png") no-repeat 174px 20px;
	height:63px;
	border-top: 1px solid #5aa1fe;
	border-bottom: 1px solid #3487f2;
}
.menu a{
	color:#ffffff;
}
.menu dt{
	font-size: 14px;
	font-weight: bolder;
	clear:both;
	margin: 12px 10px 0px;
}
.menu dd{
	float:left;
	margin-left: 10px;
}
.menu dd a{
	font-size: 12px;
	font-weight: normal;
}
.menu .str{
	font-size: 12px;
	font-weight: normal;
	margin-left: 6px;
	background:url("../img/btn.png") 0 center no-repeat;
	width:48px;
	height:20px;
	display: inline-block;
	text-align: center;
}
/*导航栏下的二级菜单*/
.menu .tip{
	position: absolute;
	z-index: 3;
	display: none;		/*通过js来实现*/
	color: #4b88da;
	top:0px;
	left: 190px;
	width:570px;
	height: 380px;
	border:1px solid #dddddd;
	background-color: #ffffff;
}
.tip dl{
	width:534px;
	margin: 0 auto;
	padding:12px 0 10px;
	border-bottom: 1px solid #dddddd;
	display: block;overflow: hidden;
}
.tip dt{
	display: block;
	float:left;
	clear:none;
	margin-top: 0;
	height: 24px;
	color:#2785e6;
}
.tip dd{
	float:left;
	font-weight: normal;
	color:#666666;
}
.tip .tip-btn{
	background: #2785e6 url("../img/arrow2.png") no-repeat 88% 8px;
	height: 26px;
	line-height: 26px;
	padding:0 20px 0 4px;
	color:#ffffff;
	font-weight:bolder;
}

#banner {
	height: 325px;
	width:810px;
	position: relative;
/*	background-color: blue;*/
	overflow: hidden;
}
#slide a{
	position: absolute;
/*	z-index: 1;*/
	height: 325px;
	left:0;
	top:0;
}
#num{
	position: absolute;
	left:0;
	bottom:10px;
	width:100%;
	text-align:center;
}
#num a{
	display: inline-block;
	width:20px;
	height:5px;
	background-color: #fdfafa;
	margin-right: 10px;
}
#num .active{		/*通过js来实现图片切换*/
	background-color: #dee537;
}